.brand {
  font-family: "Press Start 1P", cursive;
  font-size: 30px;
  font-weight: bolder;
  color: #0f4c75;
}

#nav {
  background-color: rgb(235, 235, 235);
}

.footerinfo {
  letter-spacing: 1px;
  font-weight: bolder;
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #eeeeee;
  padding: 0;
}
